{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'books:index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Профиль</li>
    </ol>
</nav>
<div class="row">
    <div class="col-12 col-lg-4 background-after" style="height: min-content;">
        <form id="form-profile" class="text-center" method="post" action="{% url 'users:profile'%}">
            {% csrf_token %}
            <span class="mp-3" style="font-size: 25px; font-weight: 600;">Личный кабинет</span>
            <div class="mp-1 p-3 rounded-3" style="border: 2px #123C69 solid">
                {% for error in change_form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
                {% endfor %}
                <div class="row">
                    {% for field in change_form %}
                    <div class="col-12 d-flex flex-column mb-4 justify-content-end">
                        {% for error in field.errors %}
                        <div class="alert alert-danger mb-0">
                            {{ error|escape }}
                        </div>
                        {% endfor %}
                        <label class="mb-1" style="font-size: 18px;">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <button type="submit" class="btn btn-light shadow-none border-0">
                        Сохранить
                    </button>
                    <a class="btn shadow-none border-0" href="{% url 'users:logout' %}"
                        style="background-color: #AC3B61;">
                        <span style=" color: white;">
                            Выйти из аккаунта
                        </span>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="offset-0 offset-lg-2 col-lg-6 background-after" style="height: min-content;">
        {% include 'users/includes/orders.html' %}
    </div>
</div>

{% endblock %}