{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'books:index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% block catalog_name %}Каталог{% endblock %}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-12 background-after" style="min-height: 800px; height: unset;">
        <div class="row">
            <div class="col-12 col-lg-3">
                <button class="mobile-filters-button btn btn-light w-100 mb-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
                    <span>Фильтры</span>
                </button>
                <form id="filters" class="accordion collapse navbar-collapse mobile-filters" method="post"
                    action="{% block catalog_url %}{% url 'books:catalog' %}{% endblock %}">
                    {% include 'books/includes/filters.html' %}
                </form>
            </div>
            <div class="col-12 offset-0 col-lg-9">
                <button class="mobile-filters-button btn btn-light w-100 mb-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sort_links" aria-expanded="false" aria-controls="sort_links">
                    <span>Сортировка</span>
                </button>
                <div id="sort_links"
                    class="accordion collapse navbar-collapse justify-content-between px-3 mb-4 py-1 rounded-2 sort_links"
                    style="background-color: #BAB2B5;">
                    <a id="{{ buying }}" class="sort" name="buying" href="#"><span>Популярнее</span></a>
                    <a id="{{ min_score }}" class="sort" name="min_score" href="#"><span>По рейтингу</span></a>
                    <a id="{{ min_price }}" class="sort" name="min_price" href="#"><span>Дороже</span></a>
                    <a id="{{ price }}" class="sort" name="price" href="#"><span>Дешевле</span></a>
                    <a id="{{ min_created }}" class="sort" name="min_created" href="#"><span>Позже</span></a>
                    <a id="{{ created }}" class="sort" name="created" href="#"><span>Раньше</span></a>
                </div>
                <div class="row">
                    {% for book in page_obj %}
                    <div class="col-6 col-lg-3 mb-3">
                        {% include 'books/includes/catalog_card.html' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Клик по сотрировке отправляет форму
    $(function () {
        $('.sort').click(function () {
            sort_name = $(this).attr('name')
            $('#sort_input').attr('value', sort_name)
            $('#apply_filter_button').click()
        });
    });
</script>
{% endblock %}