{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 background-after" style="min-height: 800px; height: unset;">
        <div class="row">
            <div class="col-12 col-lg-3">
                <button class="mobile-filters-button btn btn-light w-100 mb-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
                    <span>Фильтры</span>
                </button>
                <form id="filters" class="accordion collapse navbar-collapse mobile-filters" method="post"
                    action="{% block catalog_url %}{% url 'books:catalog' %}{% endblock %}">
                    {% include 'books/includes/filters.html' %}
                </form>
            </div>
            <div class="col-12 offset-0 col-lg-9">
                <button class="mobile-filters-button btn btn-light w-100 mb-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sort_links" aria-expanded="false" aria-controls="sort_links">
                    <span>Сортировка</span>
                </button>
                <div id="sort_links"
                    class="accordion collapse navbar-collapse justify-content-between px-3 mb-4 py-1 rounded-2 sort_links"
                    style="background-color: #BAB2B5;">
                    <div class="dropdown">
                        <button id="{{ min_buying }}{{ min_score }}" class="btn btn-secondary dropdown-toggle"
                            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                            style="background-color: unset; color: black; border: unset;">
                            По известности
                        </button>
                        <ul class="dropdown-menu px-3" aria-labelledby="dropdownMenuButton1">
                            <li><a id="{{ min_buying }}" class="sort" name="min_buying" href="#">
                                    <span>Популярнее</span></a></li>
                            <li><a id="{{ min_score }}" class="sort" name="min_score" href="#"><span>По
                                        рейтингу</span></a></li>
                        </ul>
                    </div>
                    <div>
                        <span id="{{ min_total_price }}{{ total_price }}">По цене</span>
                        {% if min_total_price %}
                        <a class="sort" name="total_price" href="#"><img src="{% static 'icons/arrow.svg' %}"></img></a>
                        {% else %}
                        <a class="sort" name="min_total_price" href="#"><img src="{% static 'icons/arrow.svg' %}"
                                style="transform: rotate(180deg)"></img></a>

                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% for book in page_obj %}
                    <div class="col-6 col-lg-3 mb-3">
                        {% include 'books/includes/catalog_card.html' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Клик по сотрировке отправляет форму
    $(function () {
        $('.sort').click(function () {
            sort_name = $(this).attr('name')
            $('#sort_input').attr('value', sort_name)
            $('#apply_filter_button').click()
        });
    });
</script>
{% endblock %}