asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Deprecated==1.2.14
distro==1.9.0
Django==5.0.4
idna==3.7
netaddr==1.2.1
pillow==10.3.0
requests==2.31.0
sorl-thumbnail==12.10.0
sqlparse==0.5.0
thumbnail==1.5
tzdata==2024.1
urllib3==2.2.1
wrapt==1.16.0
yookassa==3.1.0
