<div class="container">
    <div class="row pt-3 pb-3">
        <div class="col-md-4 offset-md-2 col-6 offset-0 d-flex flex-column justify-content-end center">
            <a class="fs-3 text-reset d-flex mb-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="Перейти на главную страницу" href="#">Bookstore
            </a>
            <span>Контакты для связи:</span>
            <div class="mb-2">
                <a href="https://vk.com/" target="_blank">ВКонтакте</a>
                <a href="https://t.me/" target="_blank">Telegram</a>
            </div>
            <span>© 2024. Все права защищены.</span>
        </div>
        <div class="col-md-4 offset-md-2 col-6 offset-0 d-flex flex-column justify-content-end">
            <span>+ 7 (705) 424 0663</span>
            <span>sgoly353@gmail.com</span>
            <span>ул. Академика Киренского, 26Б, Красноярск, Красноярский край, 660074</span>
        </div>
    </div>
</div>