{% load static %}
{% if user.is_authenticated %}
<form id="cart_form" class="w-100" method="post" action="{% url 'books:change_cart'%}">
    {% csrf_token %}
    {% if book_status == 1 %}
    <button class="w-100 btn shadow-none border-0" style="background-color: #BAB2B5;">
        <span style="color:black">В корзине</span>
    </button>
    {% elif book_status == 2 %}
    <div class="w-100 btn shadow-none border-0">
        <span style="color:black">Уже куплено</span>
    </div>
    {% else %}
    <button class="w-100 btn shadow-none border-0" style="background-color: #123C69;">
        <span style="color:white">Добавить в корзину</span>
    </button>
    {% endif %}
    <input name="book" value="{{ book.id }}" hidden>
</form>
{% else %}
<div class="w-100 btn shadow-none border-0">
    <span style="color:black">Войдите или зарегистрируйтесь для покупки</span>
</div>
{% endif %}